body {
  font-family: "JetBrains";
  max-width: 700px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@font-face {
  font-family: "nokia";
  src: url(fonts/nokiafc22.ttf);
}
@font-face {
  font-family: "JetBrains";
  src: url(fonts/JetBrainsMono-Regular.ttf);
}
footer {
  font-size: small;
  color: blue;
}
h2 {
  font-family: "nokia";
}
h4 {
  font-family: "nokia";
  margin: auto;
}
h5 {
  color: blue;
  font-size: 15px;
  text-indent: 20px;
}
.img {
  border: 1px solid black;
  max-width: 350px;
  
}
.rssHeading {
  font-family: "JetBrains";
  font-size: 16px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.updates {
  max-height: 200px;
  overflow-y: scroll;
}
mark {
  background-color: lightgreen;
}