body {
    font-family: "JetBrains";
    max-width: 700px;
     margin: auto;
     padding-left: 20px;
     padding-right: 20px;
}
@font-face {
    font-family: "nokia";
    src: url(nokiafc22.ttf);
}
@font-face {
    font-family: "JetBrains";
    src: url(JetBrainsMono-Regular.ttf);
}
h2 {
    font-family: "nokia";
}
h4 {
    font-family: "nokia";
    margin: auto;
}
footer {
    font-size: small;
    color: blue;
}

.rssHeading {
    font-family: "JetBrains";
    font-size: 16px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.updates {
    max-height: 200px;
    overflow-y: scroll;
}
